.card_wrapper{
background-image: url("/assets/images/r6.jpg");
background-repeat: no-repeat;
margin-left: 543px;
color: #000000de;
width: 316px;
margin-top:12rem;
    //background-color: blue;
}
.input_wrapper{
    background: white;
    height: 4vh;
    width: 138%;
    border: solid 1px;
    border-radius: 7px;
}
.signup_wrapper{
    font-size: 28px;
    margin-left: 25rem;
    margin-top: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    font-variant-caps: all-petite-caps;
    margin-left: 6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form_wrapper{
    margin-left: 1rem;
    
}
.button_wrapper{
    background-color: blue;
    margin-left: 90px;
}
.page_wrapper{
    background-image: url("/assets/images/r3.jpg");
    background-repeat: no-repeat;
    margin-left: 9rem;
    height: 61rem;
}