<carousel>
    <slide>
      <img src="assets/images/r3.jpg" alt="first slide" style="width: 100%;">
    </slide>
    <slide>
      <img src="assets/images/r5.jpg" alt="second slide" style= "width:100%;">
    </slide>
    <slide>
      <img src="assets/images/r6.jpg" alt="third slide" style=" width: 100%;">
    </slide>
  </carousel>
