<div class="page_wrapper">

    <mat-card class="card_wrapper">
      
      <form [formGroup]="UserForm" class="form_wrapper">
      
        <div class="signup_wrapper">EDUCA</div>
      
        <div>
      <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" formControlName="name" class="input_wrapper">
      </mat-form-field>
      </div>
    
      <div>
      <mat-form-field appearance="outline">
        <mat-label>phonenumber</mat-label>
        <input matInput placeholder="phone" formControlName="phone" class="input_wrapper">
        </mat-form-field>
      </div>
    
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" class="input_wrapper">
          </mat-form-field>
        </div>
    
        <div>
          <mat-form-field appearance="outline">
            <mat-label>password</mat-label>
            <input matInput placeholder ="password" formControlName="password" class="input_wrapper">
            </mat-form-field>
          </div>
    
            <div>
              <button mat-button-raised color="primary" (click)="OnSubmit()" class="button_wrapper">submit</button>
            </div>
          </form>
    
        </mat-card>
        </div>
    