<div class="page_wrapper">

    <mat-card class="card_wrapper">
      
      <form [formGroup]="LoginForm" class="form_wrapper">
      
        <div class="signup_wrapper">EDUCA</div>
      

    


    

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" class="input_wrapper">
          </mat-form-field>

    

          <mat-form-field appearance="outline">
            <mat-label>password</mat-label>
            <input matInput placeholder ="password" formControlName="password" class="input_wrapper">
            </mat-form-field>
        
    
       
              <button mat-button-raised color="primary" (click)="OnSubmit()" class="button_wrapper">submit</button>
       
          </form>
    
        </mat-card>
        </div>
    